#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Current versions of elements

| Name                                                                                                    | | Version             | Maven coordinates                                                    |
|---------------------------------------------------------------------------------------------------------|-|---------------------|----------------------------------------------------------------------|
| [${ecosystemName}](./index.html)                                                                        | | ${ecosystemVersion} | ${ecosystemGroupId}:${ecosystemArtifactId}:${ecosystemVersion}       |
| [${ticDisplayedName}](${siteURL}/${ticURLBase}/index.html)                                       | | ${ticVersion}       | ${ticGroupId}:${ticArtifactId}:${ticVersion}                         |
| | [${ticDisplayedName} - ${ticDisplayedBW5MavenName}](${siteURL}/${ticBW5MavenURLBase}/index.html) | ${ticBW5MavenVersion}       | ${ticGroupId}:${ticBW5MavenArtifactId}:${ticBW5MavenVersion} |
| | [${ticDisplayedName} - ${ticDisplayedBW6MavenName}](${siteURL}/${ticBW6MavenURLBase}/index.html) | ${ticBW6MavenVersion}       | ${ticGroupId}:${ticBW6MavenArtifactId}:${ticBW6MavenVersion} |
| [${tacDisplayedName}](${siteURL}/${tacArtifactId}/index.html)                                    | | ${tacVersion}       | ${tacGroupId}:${tacArtifactId}:${tacVersion}                         |
| [${toeDisplayedName}](${siteURL}/${toeArtifactId}/index.html)                                    | | ${toeVersion}       | ${toeGroupId}:${toeArtifactId}:${toeVersion}                         |
