#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${ecosystemNameHighlight} ${ecosystemPronounced} stands for
${ecosystemLongName} and is organized in
<span class="color-highlight">three</span> layers:

* ${ticAcronym}, low level tasks (compilation, packaging, deployment...)
* ${tacAcronym}, high level development tasks (shared libraries, project archetypes, design patterns...)
* ${toeAcronym}, topology management (Cloud & distributed architectures)

<br />

---

* Full support for [TIBCO BusinessWorks 5](${siteDisplayURL}/${ticBW5MavenURLBase}/)
* Full support for [TIBCO BusinessWorks 6](${siteDisplayURL}/${ticBW6MavenURLBase}/)

---

$h1 ${ticDisplayedName}

The ${ticFullName} (${ticAcronym}) provides a full lifecyle management for
applications based on TIBCO products.
<div>[Learn more »](${siteDisplayURL}/${ticURLBase}/index.html)</div>

$h1 ${tacDisplayedName}

The ${tacFullName} (${tacAcronym}) accelerates development with ready-to-use
solutions for common design patterns.
<div>Soon...</div>
<!--<div>[Learn more »](${siteDisplayURL}/${tacURLBase}/index.html)</div>-->

---

$h1 ${toeDisplayedName}

The ${toeFullName} (${toeAcronym}) provides Cloud enablement features.
<!--<div>Soon...</div>-->
<div>[Learn more »](${siteDisplayURL}/${toeURLBase}/index.html)</div>