#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Introduction

${ecosystemNameHighlight} gives a full stack composed of a three-layered
elements: the ${ticAcronym}, ${tacAcronym} & ${toeAcronym}.

The ${ecosystemNameHighlight} is plugin-based and below is a description of
[each plugin](./current-versions.html). Before using a plugin, it is advised to
start with ${ecosystemNameHighlight} common [installation](./installation.html)
& [configuration](./configuration.html) instructions.

---

$h1 TIC

The TIBCO Infrastructure Core provides a full lifecyle management for TIBCO
products.
<div>[Learn more »](./tic/index.html)</div>

$h1 TAC

The TIBCO Advanced Components accelerates development with ready-to-use
solution for common patterns.
<div>[Learn more »](./tac/index.html)</div>

$h1 TOE

The TIBCO Overview Extractor improves global management of projects by
simplifying the relation between functional and technical team.
<div>[Learn more »](./toe/index.html)</div>