#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${ecosystemNameHighlight} is a three-layered stack composed of these elements:
${ticAcronym}, ${tacAcronym} & ${toeAcronym}.

---

* Full support for TIBCO BusinessWorks 6
* Full support for TIBCO Enterprise Administrator 2

---

$h1 ${ticDisplayedName}

The ${ticFullName} (${ticAcronym}) provides a full lifecyle management for
TIBCO products.
<div>[Learn more »](${ticURLBase}/index.html)</div>

$h1 ${tacDisplayedName}

The ${tacFullName} (${tacAcronym}) accelerates development with ready-to-use
solution for common patterns.
<div>[Learn more »](./${tacURLBase}/index.html)</div>

---

$h1 ${toeDisplayedName}

The ${toeFullName} (${toeAcronym}) improves global management of projects by
simplifying the relation between functional and technical team.
<div>[Learn more »](./${toeURLBase}/index.html)</div>