.color-highlight {
	color: #225E9B;
}

.row#banner .span12  {
	height: 140px;
}

.page-header h2 {
	text-align: center;
}

.span12 h2 {
	text-align: center;
}

#bannerRight {
	display: none;
	visibility: hidden;
}

#bannerLeft h1, #bannerRight h1 {
	padding-top: 0px;
}

footer.well {
	margin-top: 30px;
	padding: 25px;
}

.span6 h5 {
	line-height: 0px;
	height: 0px;
	margin-top: -25px;
}

.navbar div.brand {
	padding: 0px 20px;
}

.navbar span.brand {
	padding: 10px 7px;
}

.main-body {
	min-height: 350px;
}

div.pull-left {
	height: 100%;
}

div.thumbnail {
	min-height: 160px;
}