.color-highlight {
	/*color: #225E9B;*/
	color: #318DDE;
}

.navbar-inner {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-repeat: repeat-x;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner  {
	/*border-bottom: solid 1px #00CCFF;*/
}

footer.well {
	/*border-top: solid 2px #00CCFF;*/
	/*border-bottom: solid 2px #00CCFF;*/
}

.well blockquote {
	border-color: #00CCFF;
}

.row#banner .span12  {
	height: 140px;
}

.page-header h2 {
	text-align: center;
}

.span12 h2 {
	text-align: center;
}

#bannerRight {
	display: none;
	visibility: hidden;
}

#bannerLeft h1, #bannerRight h1 {
	padding-top: 0px;
}

footer.well {
	margin-top: 30px;
	padding: 25px;
}

.span6 h5 {
	line-height: 0px;
	height: 0px;
	margin-top: -25px;
}

/* addons */

.navbar div.brand {
	padding: 0px 20px;
}

.navbar span.brand {
	padding: 10px 7px;
}

.main-body {
	min-height: 350px;
}

div.pull-left {
	height: 100%;
}

div.thumbnail {
	min-height: 160px;
}

.guessed {
	display: none;
}

p.command-line {
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 10px;
}

span.separator {
	border-style: dashed none none none;
	border-color: lightsteelblue;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before {
	display: inline;
}

ul.ul-main {
	margin-left: 0;
}

.dropdown-backdrop {
    position: static;
}